.BoxList {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BoxList-container {
  display:flex;
  justify-content: center;
  margin: 20px;
}

.BoxList-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.BoxList-button {
  margin-top:  12px;
}